.container{
    /* background-color:grey; */
    /* border:2px solid grey; */
    box-shadow:0 0 3px rgba(0,0,0, 0.1);
    width:300px;
    background-color:#f7f7f7;
    margin:100px auto;
    padding-right:0;
    padding-left:0;
}
body{
    font-family:roboto;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fa-plus{
    float:right;
}
.completed{
    color:grey;
    text-decoration:line-through;
}
h1{
    background-color: #2980b9;
    color:#fff;
    margin:0;
    padding:5px 10px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight:normal;
}
input[type='text']{
    color:#2980b9;
    width:100%;
    border:none;
}
.form-control:focus{
    border:3px solid #2980b9;
    box-shadow:none;
    background-color:white;
}
li:nth-of-type(even){
    background-color:white;
}
ul{
    list-style: none;
    padding-left:0;
    cursor:pointer;
}
li span{
    visibility:hidden;
}
li:hover span{
    visibility: visible;;
}
span.bg-danger {
    padding: 0 10px;
}
li{
    height:40px;
    line-height:40px;
    box-sizing:border-box; 
}